<!DOCTYPE html>
<html>
<head>
	<title>Trashporter</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% block head %}{% endblock head%}
</head>
<body>
	<!-- Banner and Logo -->
	<header>
		<div class="banner">
			<img src="{% static 'img/banner.jpg' %}" alt="Banner Image">
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" alt="Logo Image">
			</div>
		</div>
	</header>
	<!-- Navigation Bar -->
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
            <li><a href="/camera_feed/">Report</a></li>
			<li><a href="/litter_map/">Map</a></li>
		</ul>
	</nav>
	
	<!-- Footer -->
	{% block content %}{% endblock content %}

</body>

</html>
