<!DOCTYPE html>
<html>
<head>
	<title>Trashporter</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% block head %}{% endblock head%}
</head>
<body>
	<!-- Banner and Logo -->
	<header>
		<div class="banner">
			<img src="{% static 'img/banner.jpg' %}" alt="Banner Image">
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" alt="Logo Image">
			</div>
		</div>
	</header>
	<!-- Navigation Bar -->
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
            <li><a href="/camera_feed/">Report</a></li>
			<li><a href="/litter_map/">Map</a></li>
		</ul>
	</nav>
	<!-- Slideshow -->
	<!-- <div class="slideshow-container">
		<div class="mySlides fade">
			<img src="{% static 'img/slide1.jpg' %}" alt="Slide 1">
		</div>
		<div class="mySlides fade">
			<img src="{% static 'img/slide2.jpg' %}" alt="Slide 2">
		</div>
		<div class="mySlides fade">
			<img src="{% static 'img/slide3.jpg' %}" alt="Slide 3">
		</div>
	</div> -->
	<!-- Footer -->
	{% block content %}{% endblock content %}

	<!-- Link to JavaScript file for slideshow functionality -->
	<!-- <script src="{% static 'js/slideshow.js' %}"></script> -->
</body>
<footer>
	<p>Trashporter 2023 @ University of Calgary
	</p>
</footer>
</html>
